[submodule "backend"]
	path = backend
	url = https://github.com/2024-2025-ECOM-INFO5-G04/backend-ecom-2025
[submodule "frontend"]
	path = frontend
	url = https://github.com/2024-2025-ECOM-INFO5-G04/frontend-ecom-2025
